/*Variables*/
$font-brand: 'Great Vibes', cursive;
$font-text: 'Montserrat', sans-serif;
$font-cursive: 'Poly', serif;

$color-light: white;
$color-dark: black;
$color-brand: #ffcc33;
$color-background: grey;

$transition: all 0.3s ease 0s;

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: $font-text;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 20px;
}

/*Navigation*/

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px 15%;
    a {
        text-decoration: none;
    }
    .nav-links {
        li {
            display: inline-block;
            padding-left: 30px;
            transition: $transition;
        }
        a {
            color: $color-light;
            &:hover {
                color: $color-dark;
            }
        }
    }
}
.brand {
    margin-right: auto;
    padding: 10px 0;
    font-family: $font-brand;
    font-variant: initial;
    font-size: 30px;
    color: $color-brand;
    letter-spacing: 0.3rem;
}

/*Welcome*/

header {
    position: relative;
    background: $color-dark;
    background-image: url("./../images/welcome-img.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 670px;
    border: 2px dashed #333;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-dark, $alpha: 0.6)
}

.welcome {
    text-align: center;
    color: $color-light;
    line-height: 1.2rem;
    transform: translateY(55%);
    h2 {
        font-family: $font-cursive;
        font-style: italic;
        font-size: 40px;
        letter-spacing: 0.1rem;
    }
    h1 {
        font-size: 100px;
    }
}
.btn {
    background-color: $color-brand;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-family: $font-text;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    &:hover {
        color: $color-dark;
    }
}