/*Variables*/
$font-brand: 'Great Vibes', cursive;
$font-text: 'Montserrat', sans-serif;
$font-cursive: 'Poly', serif;

$color-light: white;
$color-norm: #777777;
$color-dark: black;
$color-brand: #ffcc33;
$color-background: #f7f7f7;

$transition: all 1s ease 0s;


/*Global*/

*, *::before, *::after {
    box-sizing: border-box;
}


/*Typography*/

body {
    margin: 0;
    font-family: $font-text;   
    font-size: 20px;
}

h1, li {
    font-variant: small-caps;
    font-weight: bold;
}

p {
    font-family: $font-cursive;
    font-size: 14px;
    color: $color-norm;
}

.about-title {
    font-style: italic;
    font-size: 18px;
    line-height: 0rem;
    color: $color-norm;
}
.title {
    font-size: 50px;
    line-height: 0rem;
}


/*Navigation*/

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px 15%;
    a {
        text-decoration: none;
    }
    .nav-links {
        li {
            display: inline-block;
            padding-left: 30px;
        }
        a {
            color: $color-light;
            transition: $transition;
            &:hover {
                color: $color-brand;
            }
        }
    }
}

.brand {
    margin-right: auto;
    padding: 10px 0;
    font-family: $font-brand;
    font-variant: initial;
    font-size: 30px;
    color: $color-brand;
    letter-spacing: 0.3rem;
}


/*Welcome*/

header {
    position: relative;
    background: $color-dark;
    background-image: url("./../images/welcome-img.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 670px;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-dark, $alpha: 0.6)
}

.welcome {
    text-align: center;
    color: $color-light;
    line-height: 1.2rem;
    transform: translateY(55%);
    h2 {
        font-family: $font-cursive;
        font-style: italic;
        font-size: 40px;
        letter-spacing: 0.1rem;
    }
    h1 {
        font-size: 100px;
    }
}

.btn {
    background-color: $color-brand;
    border: none;
    padding: 10px 50px 15px;
    text-align: center;
    text-decoration: none;
    font-family: $font-text;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: $transition;
    &:hover {
        color: $color-dark;
    }
    &:focus {
        outline: none;
    }
}
.btn-drop {
    padding: 0 20px 5px;
    right: 0;
    transform: translate(55px);
    background-color: $color-dark;
    color: $color-brand;
    cursor: unset;
}



/*Services*/

.services {
    text-align: center;
    margin-top: 125px;
    .row {
        align-items: center;
        justify-content: center;
        .col-md-3 {
            margin: 70px 15px 30px 15px;
            i {
                color: $color-brand;
                font-size: 30px;
                padding: 15px 10px;
                border: solid 3px $color-brand;
                border-radius: 50%;
                text-align: center;
                width: 70px;
                height: 70px;
                vertical-align: middle;
            }
            .service-type {
                line-height: 0rem;
            }
            .service-descriptor {
                letter-spacing: -0.5px;
            }
        }
    }
}

/*Portfolio*/

.image-1 {
    background-image: url(../images/portfolio-1.jpg);
}
.image-2 {
    background-image: url(../images/portfolio-2.jpg);
}
.image-3 {
    background-image: url(../images/portfolio-3.jpg);
}
.image-4 {
    background-image: url(../images/portfolio-4.jpg);
}
.image-5 {
    background-image: url(../images/portfolio-5.jpg);
}
.image-6 {
    background-image: url(../images/portfolio-6.jpg);
}

.image-1, .image-2, .image-3, .image-4, .image-5, .image-6{
    background-position: center center;
    width: 100%;
    height: 285px;
    background-color: $color-brand;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio {
    text-align: center;
    margin-top: 80px;
    padding-top: 70px;
    background-color: $color-background;
    .row {
        align-items: center;
        justify-content: center;
        .col-md-3 {
            margin: 70px 15px 5px 15px;
            padding: 0;
            .image-info {
                background-color: $color-light;
                .image-name {
                    margin: 0;
                    padding-top: 30px;
                }
                .image-descriptor {
                    margin: 0;
                    padding-bottom: 30px;
                    font-style: italic;
                }
            }
        }
        
    }
    
}


/*Footer*/

footer {
    padding: 40px 0;
    p {
        font-family: $font-text;
        text-align: right;
        font-size: 13px;
        font-weight: bold;
    }
    .contact {
        text-align: center;
        i {
            background-color: $color-dark;
            color: $color-light;
            font-size: 18px;
            padding: 10px 0;    
            border-radius: 50%;
            text-align: center;
            width: 40px;
            height: 40px;
            vertical-align: middle;
        }
    }
}


/*Styles for >768px*/

@media (min-width: 768px) {
    .portfolio .row:last-child .col-md-3  {
        margin-top: 40px;
        margin-bottom: 110px;
    }
    .btn-drop {
        display: none;
    }
}


/*Styles for <768px*/

@media (max-width: 768px) {
    header {
        height: 100vh;
        background-position: 7% top;
        .brand {
            font-size: 50px;
            transform: translateX(-30%);
        }
        .welcome {
            transform: translateY(25%);
            h1 {
                line-height: normal;
            }
        }
    }
    .nav-links {
        display: none;
        padding: 0;
        
        
    }
    .dropdown {
        &:hover .nav-links {
            display: flex;
            flex-direction: column;
            position: absolute;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.4);
            margin: 0;
            border-radius: 0 0 5px 5px;
            transform: translate(60px);
            li {
                padding: 0;
            }
        }
        &:hover .btn-drop {
            color: $color-dark;
        }
    }
    .portfolio .row:last-child .col-md-3:last-child  {
        margin-bottom: 80px;
    }
    footer .row {
        flex-direction: row-reverse;
    }
}
