/*Variables*/
$font-brand: 'Great Vibes', cursive;
$font-text: 'Montserrat', sans-serif;
$font-cursive: 'Poly', serif;

$color-light: white;
$color-dark: black;
$color-brand: #ffcc33;
$color-background: grey;

$transition: all 1s ease 0s;

/*Global*/
*, *::before, *::after {
    box-sizing: border-box;
}

/*Typography*/

body {
    margin: 0;
    font-family: $font-text;   
    font-size: 20px;
}
h1, li {
    font-variant: small-caps;
    font-weight: bold;
}
p {
    font-family: $font-cursive;
    font-size: 14px;
}
.about-title {
    font-style: italic;
    font-size: 18px;
    line-height: 0rem;
}
.title {
    font-size: 50px;
    line-height: 0rem;
}

/*Navigation*/

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px 15%;
    a {
        text-decoration: none;
    }
    .nav-links {
        li {
            display: inline-block;
            padding-left: 30px;
        }
        a {
            color: $color-light;
            transition: $transition;
            &:hover {
                color: $color-brand;
            }
        }
    }
}
.brand {
    margin-right: auto;
    padding: 10px 0;
    font-family: $font-brand;
    font-variant: initial;
    font-size: 30px;
    color: $color-brand;
    letter-spacing: 0.3rem;
}

/*Welcome*/

header {
    position: relative;
    background: $color-dark;
    background-image: url("./../images/welcome-img.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 670px;
    border: solid 3px red;
    padding: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-dark, $alpha: 0.6)
}

.welcome {
    text-align: center;
    color: $color-light;
    line-height: 1.2rem;
    transform: translateY(55%);
    h2 {
        font-family: $font-cursive;
        font-style: italic;
        font-size: 40px;
        letter-spacing: 0.1rem;
    }
    h1 {
        font-size: 100px;
    }
}
.btn {
    background-color: $color-brand;
    border: none;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-family: $font-text;
    font-size: 24px;
    font-variant: small-caps;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: $transition;
    &:hover {
        color: $color-dark;
    }
}

/*Services*/

.services {
    text-align: center;
    border: solid 3px red;
    margin-top: 80px;
    .row {
        align-items: center;
        justify-content: center;
        .col-md-3 {
            margin: 70px 15px 30px 15px;
        }
    }
}
i {
    color: $color-brand;
    font-size: 30px;
    padding: 15px 10px;
    border: solid 3px $color-brand;
    border-radius: 50%;
    text-align: center;
    width: 70px;
    height: 70px;
    vertical-align: middle;
}
.service-type {
    line-height: 0rem;
}
.service-descriptor {
    letter-spacing: -0.5px;
}